@font-face {
  font-family: 'Open Dyslexic';
  src: url('https://cdn.jsdelivr.net/npm/open-dyslexic@1.0.3/ttf/OpenDyslexic3-Regular.ttf') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/open-dyslexic@1.0.3/ttf/OpenDyslexic3-Bold.ttf') format('woff2'),
       ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button {
  align-items: center;
  appearance: none;
  /* background-image: radial-gradient(
    100% 100% at 100% 0,
    #8c8c8c 0,
    #000000 100%
  ); */
  background-color: #304D30;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: #B6C4B6 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Helvetica, Inter, -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  /* font-family: 'Open Dyslexic', sans-serif; */
  font-weight: 600;
  /* height: 48px; */
  height: 36px;
  /* width: 100%; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  width: 70%;
}

body {
  margin: 0px;
  font-family: Helvetica, Inter, -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  background-color: #102318;
  color: #B6C4B6;
  width: 25em;  
  height: 35em;  
}

button:hover {
  transform: translateY(-2px);
  color: #000;
  background-color: #cbcb75;
  /* box-shadow: #cbcb75 0 8px 15px; */
}

button:active {
  transform: translateY(2px);
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.button-enabled {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #308a41 0,
    #12ae31 100%
  );
}

.button-disabled {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #9d9112 0,
    #651717 100%
  );
}

.label {
  margin: 5px;
  font-weight: bold;
  color: #333;
}

.desc {
  text-align: center;
  margin: 5px;
}

.div-group {
  margin-bottom: 10px;
  border: 2px;
  border-radius: 6px;
  border-style: dotted;
  border-color: grey;
  /* padding: 5px; */
  margin: 8px;
  display: none;
}

.small-group {
  text-align: center;
  padding: 2px;
}

input {
  width: 90%;
  background-color : #d3d3d3; 
  border-radius: 5em;
  padding: 0.2em;
}

.header {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background: #1abc9c; */
  background-color: #163020;
  color: #B6C4B6;
  margin-bottom: 1em;
}

.header_logo {
  font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;
  width: 12rem;
  font-size: 24px;
  letter-spacing: 2px;
}

.option {
  color: #fff;
}

.select-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#font-select {
  width: 65%; /* Adjust as needed */
  background-color: #304D30;
  border-width: 0.5em;
  border-radius: 0.5em;
  border-color: #304D30;
  color: #fff;
}

#font-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #304D30;
  transition: .25s all ease;
  pointer-events: none;
  color: #304D30 ;
}

.go-to-options-container {
  display: flex;
  justify-content: center;
}